.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Contdisply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
